## lesson

In [4]:
num = 30
name = 'Anabel'
'My age is {} and my name is {} '.format(num, name)
print('My age is {} and my name is {} '.format(num, name))

My age is 30 and my name is Anabel

In [6]:
print('My age is {one} and my name is {two}, more {one} '.format(one=num, two=name))

My age is 30 and my name is Anabel, more 30

In [7]:
s = 'welcomehome'

In [15]:
s[0:  ]

'welcomehome'

In [16]:
s[   :3]

'wel'

In [17]:
s[0:3]

'wel'

In [18]:
s[3:6]

'com'

In [56]:
my_list =['a', 'b', 'c']

In [57]:
my_list.append('d')

In [58]:
my_list

['a', 'b', 'c', 'd']

In [59]:
my_list[1:3]

['b', 'c']

In [60]:
my_list[0]='new'

In [26]:
my_list

['new', 'b', 'c', 'd']

In [31]:
nest=[1,2,3,4,['d','e', ['target']]]

In [32]:
nest[0]

1

In [33]:
nest[4]

['d', 'e', ['target']]

In [37]:
print (nest[4][2][0])

target

## lesson

In [44]:
d = {'titolocanzone': 'ciaobellaciao', 'year':[1,1,2020], 'evento':'sanremo!!'}

In [45]:
d['titolocanzone']

'ciaobellaciao'

In [48]:
d['year'][2]

2020

In [47]:
d['evento']

'sanremo!!'

In [49]:
d = {'k1': {'titolocanzone': 'ciaobellaciao', 'year':[1,1,2020], 'evento':'sanremo!!'}}

In [50]:
d

{'k1': {'titolocanzone': 'ciaobellaciao',
  'year': [1, 1, 2020],
  'evento': 'sanremo!!'}}

In [53]:
d['k1']['year'][2]

2020

In [54]:
t = (8,9,1989)

In [55]:
t[0]

8

In [61]:
my_list

['new', 'b', 'c', 'd']

In [62]:
t[0]='new' # !!!! tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [65]:
s={1,1,1,1,1,1,4,4,4,4,5,5,5,5,888,888} # !!!! SET is defined by only unique values

In [64]:
set([1,1,1,1,1,1,4,4,4,4,5,5,5,5,888,888])

{1, 4, 5, 888}

In [66]:
s.append(455,455)

AttributeError: 'set' object has no attribute 'append'

In [68]:
s.add(455) # !!!! takes exactly one argument

In [69]:
s

{1, 4, 5, 455, 888}

## lesson

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for num in range(10):
    print(num+num)

0
2
4
6
8
10
12
14
16
18

In [1]:
i=1
while i<5:
    print('{} is the the italian figo'.format(i))
    i=i+1

1 is the the italian figo
2 is the the italian figo
3 is the the italian figo
4 is the the italian figo

### list comprehension

In [3]:
x = [1,2,3,4]
out =[]
for i in x:
    out.append(i*2)
print(out)

[2, 4, 6, 8]

In [4]:
[i*2 for i in x]

[2, 4, 6, 8]

In [5]:
out = [i*2 for i in x]

In [7]:
print(out)

[2, 4, 6, 8]

### functions

In [8]:
def my_func(param1):
    """
    docstring goes here.
    """
    print(param1)

In [12]:
my_func('ciao bella ciao')

ndjfjf

In [13]:
my_func

In [15]:
def square(num):
    return (num*2)

In [19]:
out = square(56); print(out)

112

### map

In [31]:
list (map(square, range(5)))

[0, 2, 4, 6, 8]

### lambda expressions

In [23]:
def times3(num):return num*3

In [24]:
out = times3(4); print(out)

12

In [32]:
t = lambda num: num*3

In [35]:
print(t(4))

12

In [34]:
out = list(map(lambda num: num*3, range(1,6))); print(out)

[3, 6, 9, 12, 15]

### filter

In [36]:
filter(lambda num:num%2==0, range(1,6))

In [37]:
t = lambda num:num%2==0

In [39]:
print(t(6))

True

In [40]:
list(filter(lambda num:num%2==0, range(1,6)))

[2, 4]

### methods

In [41]:
s = 'Learn how to use NumPy, Pandas, Seaborn , Matplotlib , Plotly , Scikit-Learn , Machine Learning, Tensorflow '

In [42]:
s.lower

In [43]:
s.lower()

'learn how to use numpy, pandas, seaborn , matplotlib , plotly , scikit-learn , machine learning, tensorflow '

In [44]:
s.upper()

'LEARN HOW TO USE NUMPY, PANDAS, SEABORN , MATPLOTLIB , PLOTLY , SCIKIT-LEARN , MACHINE LEARNING, TENSORFLOW '

In [50]:
s.split(',')

['Learn how to use NumPy',
 ' Pandas',
 ' Seaborn ',
 ' Matplotlib ',
 ' Plotly ',
 ' Scikit-Learn ',
 ' Machine Learning',
 ' Tensorflow ']

In [51]:
d = {'k1':34, 'k2':90}

In [53]:
d.keys()

dict_keys(['k1', 'k2'])

In [55]:
d.values()

dict_values([34, 90])

In [56]:
'thing to check' in [1,2,3]

False

In [57]:
'thing to check' in ['thing to check',1,2,3]

True

### tuple unpacking\

In [58]:
x=[(56,98), (6,1), (4,7)]

In [59]:
x

[(56, 98), (6, 1), (4, 7)]

In [61]:
for item in x:
    print (item)

(56, 98)
(6, 1)
(4, 7)

In [68]:
for a,b in x:
    print (a)

56
6
4